

body {
  align-items: center;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #002E62;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: #002E62;
  border-bottom: 1px dotted #002E62;
}

a:hover {
  color: #990000;
  border-bottom: 1px dotted #990000;
}

.header {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  margin: 0 16px 16px 16px;
  padding: 15px;
}

.header h1 {
  margin: 0 0 8px 0;
}

.header span {
  display: block;
  margin: 0;
}

.bio {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  margin: 0 16px 0 16px;
  max-width: 500px;
  padding: 15px;
}

.contact {

}

/*h1, p {
  margin-left: 23px;
}

.main-container {
  min-height: 300px;
  width: 40%;
  min-width: 350px;
  max-width: 95%;
  border-radius: 2px;
  margin: 200px auto;
  padding: 30px 20px 30px 20px;
  text-align: left;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
}

.icon-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  margin: 50px auto 50px auto;
}

a, a:visited {
  text-decoration: none;
  color: #002E62;
  border-bottom: 1px dotted #002E62;
}

a:hover {
  color: #990000;
  border-bottom: 1px dotted #990000;
}

.icon {
  flex-grow: 1;
  border-bottom: none;
}

.icon, .icon:visited {
  color: #002E62;
}

.icon:hover {
  color: #990000;
  border-bottom: none;
}

.easter-egg > a, .easter-egg > a:visited {
  color: white;
  text-decoration: none;
  border-bottom: none;
}*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
